* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(1, 5, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container {
    width: 500px;
}
textarea {
    background-color: transparent;
    border: 2px solid rgb(14, 239, 224);
    display: flex;
    resize: none;
    width: 400px;
    height: 200px;
    padding: 15px;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: rgb(64, 218, 200);
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
}